{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Отзыв заявки</h2>
                    <form action="{{ url_for('applicationCan') }}" method="post" class="form-application">
                        <input type="hidden" value = {{ csrf_token }} name="csrf_token">
                        <div class="mb-3">
                            <label for="application_number" class="form-label">Введите номер заявки:</label>
                            <input type="text" class="form-control" id="application_number" name="application_number" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Комментарий (при необходимости):</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Отозвать заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
